@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    -moz-user-select: -moz-none;
      -webkit-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

::-moz-selection {
    background: #0b2842;
}

::selection {
    background: #0b2842;
}

/* Scrollbar Style */
html::-webkit-scrollbar {
    width: 10px;
    background-color: #071e3d;
}

html::-webkit-scrollbar-thumb {
    background-color: #1f4287;
}

/* Payment Style */
.exp-wrapper:after {
    content: '/';
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -4px;
    color: #aaa;
}